
Misc/RAPID/anomaly_intDensspherical_w4_4_Matern_Relative100Season_11EM3/

Misc/RAPID/anomaly_intDensspherical_w4_4_Matern_Relative10Season_11EM3/

Misc/RAPID/anomaly_intDensspherical_w4_4_Matern_Relative125Season_11EM3/

Misc/RAPID/anomaly_intDensspherical_w4_4_Matern_Relative15Season_11EM3/

Misc/RAPID/anomaly_intDensspherical_w4_4_Matern_Relative20Season_11EM3/

Misc/RAPID/anomaly_intDensspherical_w4_4_Matern_Relative250Season_11EM3/

Misc/RAPID/anomaly_intDensspherical_w4_4_Matern_Relative200Season_11EM3/

Misc/RAPID/anomaly_intDensspherical_w4_4_Matern_Relative30Season_11EM3/

Misc/RAPID/anomaly_intDensspherical_w4_4_Matern_Relative300Season_11EM3/

Misc/RAPID/anomaly_intDensspherical_w4_4_Matern_Relative400Season_11EM3/

Misc/RAPID/anomaly_intDensspherical_w4_4_Matern_Relative500Season_11EM3/

Misc/RAPID/anomaly_intDensspherical_w4_4_Matern_Relative600Season_11EM3/

Misc/RAPID/anomaly_intDensspherical_w4_4_Matern_Relative50Season_11EM3/

Misc/RAPID/anomaly_intDensspherical_w4_4_Matern_Relative700Season_11EM3/

Misc/RAPID/anomaly_intDensspherical_w4_4_Matern_Relative75Season_11EM3/

Misc/RAPID/anomaly_intDensspherical_w4_4_Matern_Relative800Season_11EM3/

Misc/RAPID/anomaly_intDensspherical_w4_4_Matern_Relative150Season_11EM3/

Util/gpml-matlab-master/

Data/

Results/
Misc/SOSI/anomaly_intDensspherical_w4_4_Matern_Relative300Season_11EM3/

Util/Cupid-master/

Misc/SOSI/anomaly_SOSI1lonheatFluxspherical_w4_4_Eq2_Matern_Relative300Season_11EM3/

Misc/SOSI/anomaly_SOSI1latheatFluxspherical_w4_4_Eq2_Matern_Relative300Season_11EM3/

Misc/SOSI/anomaly_intSOSITempspherical_w4_4_Matern_Relative300Season_11EM3/

Misc/SOSI/anomaly_latheatFluxspherical_w4_4_Eq2_Matern_Relative300Season_11EM3/

Misc/SOSI/anomaly_lonheatFluxspherical_w4_4_Eq2_Matern_Relative300Season_11EM3/
